<!--
  Generated template for the KommendeBestellungenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content class="dash">
<waiting></waiting>
<ion-row>
  <ion-col>
    <ion-card id="orderCard">
      <ion-card-header class="mycardheader">
        <h3>Kommende Bestellungen</h3>
      </ion-card-header>
      <ion-list no-lines>
        <ion-item *ngFor="let order of ordersKommen" class="orderItem">
            <ion-row align-items-center>
              <ion-col col-2>
                <svg class="box-icon" width="12px" height="17px" viewBox="0 0 12 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="UI-Elements-/-Cards-/-Small" transform="translate(-19.000000, -107.000000)" stroke="#212121">
                            <g id="Card-#1">
                                <g id="Icon" transform="translate(20.000000, 108.000000)">
                                    <rect id="Rectangle-2" stroke-width="1.28" fill="#FFFFFF" x="1.875" y="3.125" width="6.25" height="11.875" rx="0.64"></rect>
                                    <rect id="Rectangle-2-Copy" stroke-width="1.28" fill="#FFFFFF" x="0" y="0" width="10" height="4.375" rx="1"></rect>
                                    <path d="M8,6.5 L5,6.5" id="Path-2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M8,8.5 L5,8.5" id="Path-2-Copy" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M8,10.5 L5,10.5" id="Path-2-Copy-2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                {{order.Order_0.BoxID | slice:0:3}}
              </ion-col>
              <ion-col col-1>
                <round-progress [current]="order.Order_0.Menge" [max]="order.Order_0.MaxMenge" [radius]="15" [stroke]="3"  [rounded]="true" ></round-progress>
              </ion-col>
              <ion-col col-3>
                {{order.Order_0.Menge}} von {{order.Order_0.MaxMenge}}
              </ion-col>
              <ion-col col-3>
                <h3>{{order.Order_0.PatientID}}<br/></h3>
                {{order.Order_0.Medikament}}
              </ion-col>
              <ion-col col-3 class="row_dosierung">
                <ion-row>
                  <ion-col>
                    <ion-row><img src="assets/icon/time/sunrise.png"></ion-row>
                    <ion-row><h4>{{order.Order_0.dosierung.dosierung_Mo}}</h4></ion-row>
                  </ion-col>
                  <ion-col>
                    <ion-row><img src="assets/icon/time/day.png"></ion-row>
                    <ion-row><h4>{{order.Order_0.dosierung.dosierung_Mi}}</h4></ion-row>
                  </ion-col>
                  <ion-col>
                    <ion-row><img src="assets/icon/time/dawn.png"></ion-row>
                    <ion-row><h4>{{order.Order_0.dosierung.dosierung_Ab}}</h4></ion-row>
                  </ion-col>
                  <ion-col>
                    <ion-row><img src="assets/icon/time/night.png"></ion-row>
                    <ion-row><h4>{{order.Order_0.dosierung.dosierung_Na}}</h4></ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
        </ion-item>
        <ion-item *ngIf="ordersKommen?.length < 1">
            Es werden keine Bestellungen erwartet.
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-col>
</ion-row>
</ion-content>
