<ion-content>
    <ion-scroll scrollX="true">
  		<ion-card *ngFor="let order of ordersWaiting">
        <ion-card-header>
          <h3>PatientenID</h3>
        </ion-card-header>
        <ion-card-content>
          <p>{{order}}</p>
          <p>Order_2</p>
        </ion-card-content>
        <p class="text_button" (click)="displayItem(order.key)">Ansehen</p>

  		</ion-card>

      <ion-card class="static" (click)="startNew()">
       <ion-icon name="add"></ion-icon>
  		</ion-card>
      <div class="static_bg">
      </div>
    </ion-scroll>
    <button ion-button (click)="startNew()">New</button>
    <ion-card>
      <ion-list>
        <ion-item *ngFor="let order of orders">
          OrderID: {{order.Name}}<br />
        </ion-item>
      </ion-list>
    </ion-card>

</ion-content>
