page-home {

.scroll-zoom-wrapper{
  white-space: nowrap;
}

ion-scroll{
  height: 250px;
  ::-webkit-scrollbar {
    display: none;
}
}

ion-card.card{
  display: inline-block;
  width: 300px;
  height: 200px;
}

}
