@import url('https://fonts.googleapis.com/css?family=Overpass:400,700');

//Variables
$primary:   #4FC4FF;
$secondary: #B181FC;

$danger: #FE654F;
$success: #30FF9B;

$prim20: #3F9DCC;
$prim60: #204F66;
$prim75: #143140;

$black: #333333;
$black20: #666666;
$black40: #999999;
$black60: #CCCCCC;

$tab-bar-width: 69px;

$font-regular: 14px;
$font-big: 18px;
$font-head: 24px;
$font-huge: 64px;


//Fonts

*{
  font-family: 'Overpass';
}

// Mixin

@mixin shadow {
  border-radius: 8px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, .12);
}

ion-img{
  background: transparent;
}


//Tableiste

#mytabbar{
  position: fixed;
  top: 0px;
  height: 210px;
  width: $tab-bar-width;
  background-color: $prim75;
}

#mytabbarbottom{
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 290px;
  width: $tab-bar-width;
  background-color: $prim75;
}

#logo{
  margin-left: 16px;
  margin-top: 16px;
}

.tabbar {


  max-height:280px;
  top: 209px;
  width: $tab-bar-width;
  flex-direction: column;
  .tab-button.has-title-only {
    width: 100%;
    background-color: $prim75;
    .tab-button-text{
      width: 100%;
      font-family: 'Font Awesome 5 Pro';
      font-weight: 300;
      font-size:30px;
      color: $black40;
    }


  }
  .tab-button.has-title.has-title-only[aria-selected="true"]{
    span{
      background-image:linear-gradient(90deg,$primary, $secondary);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
    }
  }
}

.tabs-ios{

}

//Dashboard


// ion-tabs.tabs-ios#tableiste.tab-button-text{
//     font-family: 'Font Awesome 5 Pro';
//     font-size: 30px !important;
// }

ion-badge{
  position: absolute;
  right: 95px;
  top: 22px;
  z-index: 20;
  font-size: 33px;
  border-radius: 40px !important;
  width: 40px !important;
  height: 40px !important;
  background-color: $danger !important;
}


#noOrders_warning{
  font-size: $font-huge - 30px;
  margin-top: 70px;
  margin-left: 30px;
  color: $black20;

}

//Cards

.myAdd{
  padding-top: 41px;
  padding-right: 30px;
}


ion-card{
  &.myCard{
    margin-top: 25px;
    padding-top: 15px !important;
    &.orders{
        padding: 24px;
    }
    .card-content-ios{
      padding-left: 0px;
      padding-bottom: 0px;
      height: 55px;
      color: $black40;
    }
    .box-number{
      font-size: 25px;
      font-weight: bold;
    }

  }
  ion-col.number-col{
    padding: 0px;
  }
}

#orderCard{
  padding: 24px;
  height: 530px;
}

.button.button-clear.action-button{
  padding-left: 20px !important;
}

ion-tabs.tabs-ios#tableiste{
  .tabbar{
    font-size: 60px;
  }
}

ion-list{
  ion-item.orderItem{
    border-top: 0px !important;


    h3{
      font-weight: bold;
      font-size: $font-big;
    }

    .text_button{
      color: $primary;
    }
    .label{
      margin: 0px;
    }
    ion-row{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    svg.box-icon{
      position: relative;
      top: 2px;
    }
    round-progress{
      width: 34px !important;
      height: 34px !important;
      svg{
        width: 30px;
        height: 30px;
      }
    }


  }
  #showAllOrders{
    position: absolute;
    bottom: 40px;
    left: 390px;
    color: $black40;
  }
}






ion-scroll{
  height: 200px;
  background-color: #C9D2D7;
    ::-webkit-scrollbar {
      display: none;
  }
  ion-row{
  }
}

.scroll-zoom-wrapper{
white-space: nowrap;
ion-card{
  &.myCard{
    padding: 25px;
  }
}
}


page-home {


  #orderCard{
    width: 492px;
  }

}


waiting {
    button {
      width: 80px;
    }


    ion-card.card{
      display: inline-block;
      width: 236px;
      height: 144px;
      padding: 5px;

    }

  ion-card.card.static{
    z-index: 10;
    position: fixed;
    top: 17px;
    right: -50px;
    width: 150px;
    font-size: 48px;
    text-align: center;
    vertical-align: middle;
  }

  .static_bg{
    position: fixed;
    pointer-events: none;
    top: 0px;
    right: 0px;
    height: 200px;
    width: 300px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,c9d2d7+100&0+0,1+100 */
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(201,210,215,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(201,210,215,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(201,210,215,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#c9d2d7',GradientType=1 ); /* IE6-9 */
  }
}





  ion-header {
    left: 5rem;
    right: 0;
  }

  ion-content {
    box-sizing: border-box;
    margin-left: $tab-bar-width;
    width: (calc(100% - 69px));
  }


  .has-icon .tab-badge {
    right: calc(50% - #{$tab-bar-width});
  }

  .tab-badge {
    top: 33%;
  }

.fixed-content { left: 0; right: 0; top: 0; bottom: 0; margin-bottom: 0 !important; position: absolute; display: block; }
.scroll-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-bottom: 0 !important;
  position: absolute;
  z-index: 1;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
}


ion-card.card{
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, .12);

  ion-item.item{
    padding: 0px;
  }

  ion-item.ion-card-footer{
    button{

    }
  }

  ion-card-header.card-header{
    padding: 0px;
    h3{
      font-size: $font-big;
      font-weight: bold;
    }
  }
}

ion-searchbar.searchbar{
  background: transparent;
  width: auto;
  padding: 0px;
  margin: 12px;
  @include shadow;

}


page-b-patient {
  ion-card{
    h2.dosierung_nummer{
      font-size: $font-huge;
    }
  }
}

page-b-scan{
  ion-row.row{
    margin-top: 35px;
  }

ion-item.item
  {
    h2.smallerHead{
      font-size: $font-head;
    }
  }

  ion-card.card ion-card-content{
    padding: 0px;

    #box_icon{
      stroke: $black60;
    }

    .danger{

      color: $danger;
    }

    h2{
      padding: 0px 10px;
      font-size: $font-huge;
      margin: 50px auto 30px auto!important;
      color: $black;
      font-weight: bold;
    }
  }
}


ion-col.row_dosierung.col{
  img{
    width: 21px;
    height: 21px;
  }
  text-align: center;
  ion-row{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    &:first-of-type{
      margin-bottom: 10px;
    }
  }
}

//// Details page

page-detail {

  background-color: white;
  padding: 20px;
  box-shadow: 5px 10px $black20;


  .header{
    h3{
      margin: 0px;
    }
  }

  .content{
    ion-item{
      margin-left: 0px;
      padding-left: 0px;
      .item-inner{
        border: 0px !important;
      }
      ion-grid{
        margin-left: 0px;
        padding-left: 0px;
        .row{
          &.dosis-row{

            .row {
              height: 30px;
              h4{
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .footer{
    height: 20px;
    p{
      color: $primary;
      &.center{
        text-align: center;
      }
      &.left{
        text-align: left;
      }
      &.right{
        text-align: right;
      }
    }
  }

}

//// Zusammenfassung-page

page-b-zusammenfassung {

  ion-card-content.card-content{
    padding: 0px;
  }

  ion-list.list{
    h3{
        font-size: $font-head;
        font-weight: bold;
      }

    ion-col.pull-right{
      ion-row.row{
        -webkit-box-pack: flex-end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: flex-end;
        justify-content: flex-end;
      }
    }

    ion-item {
      ion-col{
        img {
          width: 21px;
          height: 21px;
        }
      }
    }
  }

  .pull-right{
    &.right{
      float: right;
      margin-right: 12px;
    }
  }
  .pull-left{
    &.left{
      float: left;
      margin-left: 12px;
    }
  }

}

////// Medikament-Page

page-b-medikament{
  h3{
    &.drugs_name{
      font-weight: bold;
      font-size: $font-big;
    }
  }

  ion-card{
    .card-content{
      padding: 0px;

      button{
        &.button-clear{
          float: right;
        }
      }
    }
  }
}


/****
/*
/* Button */

.button{
  font-size: $font-regular;
  border-radius: 2px;
  font-weight: bold;
  padding: 5px 50px;
  background: linear-gradient(to right, $primary , $secondary);

  &.button-clear{
    background: transparent;
    padding: 5px;
    .current{
      color: $primary;
    }
    &.action-button{
      margin: 0px;
      padding: 0px;
      height: 12px;
      color: $primary;
    }

  }
  &.noGradient{
    background: white;
    @include shadow;
    border-radius: 2px;
    color: black;
  }
}

///////////////// Dosierungs Screen
////
////
///

.toggle-icon{
  padding: 0px;
  vertical-align: middle;
  float: right;
}

.card-dosis{
  text-align: center;
  button.button{
    width: 20px;
    padding: 20px;
  }
  h2{
    font-size: $font-huge;
  }
  img{
    width: 60px;
    margin: auto;
    margin-bottom: 10px;
  }
}

.timecard-row{
  margin-top: 5px;
}
.timecard{
  button.button{
    width: 20px;
    padding: 20px;
  }
  h2{
      font-size: $font-huge;
    &:first-child{
      margin-top: 2px;
    }
  }
  text-align: center;
  width: 200px;
  .header{
    width: 100%;
  }
}

.calendar{
  ion-calendar{
    padding: 0px;
    margin: 0px;

    &.invisible{
      .title{
        display: none !important;
      }
    }
  }
  ion-calendar-month {
    .days{
      height: 30px;
    }
    .primary{
      .between{
          button.days-btn{
            background-color: $primary;
            border-radius: 50%;
            width: 30px;
            height: 30px;
          }
      }
      .startSelection{
        button.days-btn{
          background-color: $primary;
        }
        &:after{
          display: none;
        }
      }
      .days.between{
        background-color: transparent;
      }
    }
    button.days-btn{
      height: 30px;
      width: 30px;

    }



  }



  .week-toolbar{
    display: none;
  }

}

.button{
  &.next_page{
    position: fixed;
    bottom: 40px;
    right: 40px;
  }
}


///////////////// Breadcrumbs
////
////


breadcrumb {
  nav.breadcrumb-all{
    margin-bottom: 40px;
    box-shadow: 0 4px 2px -4px gray;
    //border-bottom: 1px solid gray;
    padding: 0px;
    margin: 0px 24px;
    .button{
      margin-right: 40px;
    }
  }

  .button{
    font-size: $font-big;
    background: transparent;
    color: $black60;

    margin: 1px 0px;
    padding: 0px 20px;

    &.current{
      -webkit-border-image: -webkit-gradient(linear, left top, right top, from($primary), to($secondary), color-stop(0.6, $secondary)) 30 21  30 21 ;
      border-color: $primary;
      color: $black20;
      opacity: 1;
      font-weight: bold;
      border-bottom: 3px solid;
      border-radius: 0px;
      background-color: transparent;
    }


  }
}

/* Helper */
.padding-bottom{
  padding-bottom: 14px;
}
//Hintergrund wenn Modal
ion-backdrop{
//  background-color: transparent;
left: $tab-bar-width;

}
