@import url('https://fonts.googleapis.com/css?family=Overpass:400,700');

//Variables
$primary:   #4FC4FF;
$secondary: #B181FC;

$danger: #FE654F;
$success: #30FF9B;

$prim20: #3F9DCC;
$prim60: #204F66;
$prim75: #143140;

$black: #333333;
$black20: #666666;
$black40: #999999;
$black60: #CCCCCC;

$tab-bar-width: 69px;

$font-regular: 14px;
$font-big: 18px;
$font-head: 24px;


//Fonts

*{
  font-family: 'Overpass';
}


// Mixin

@mixin shadow {
  border-radius: 8px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, .12);
}



ion-img{
  background: transparent;
}


//Tableiste

#mytabbar{
  position: fixed;
  top: 0px;
  height: 210px;
  width: $tab-bar-width;
  background-color: $prim75;
}

#mytabbarbottom{
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 290px;
  width: $tab-bar-width;
  background-color: $prim75;
}

#logo{
  margin-left: 16px;
  margin-top: 16px;
}

.tabbar {

  max-height:280px;
  top: 209px;
  width: $tab-bar-width;
  flex-direction: column;
  .tab-button.has-title-only {
    width: 100%;
    background-color: $prim75;
    .tab-button-text{
      width: 100%;
      font-family: 'Font Awesome 5 Pro';
      font-weight: 900;
      font-size:30px;
      color: white;
    }

  }
}

.tabs-ios{

}

//Dashboard


// ion-tabs.tabs-ios#tableiste.tab-button-text{
//     font-family: 'Font Awesome 5 Pro';
//     font-size: 30px !important;
// }

//Cards

.myCard{
  padding-top: 30px;
}
.mycardcontent{
  padding: 0px;
}

ion-tabs.tabs-ios#tableiste{
  .tabbar{
    font-size: 60px;
  }
}





page-home {
  .scroll-zoom-wrapper{
  white-space: nowrap;
}



button {
  width: 80px;
}

ion-scroll{
  height: 200px;
  background-color: #C9D2D7;
    ::-webkit-scrollbar {
      display: none;
  }
}

ion-card.card{
  display: inline-block;
  width: 236px;
  height: 144px;
  padding: 5px;

}

#orderCard{
  width: 492px;
}



ion-card.card.static{
  z-index: 10;
  position: fixed;
  top: 24px;
  right: -50px;
  width: 150px;
  font-size: 48px;
  text-align: center;
  vertical-align: middle;
}

.static_bg{
  position: fixed;
  pointer-events: none;
  top: 0px;
  right: 0px;
  height: 200px;
  width: 300px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,c9d2d7+100&0+0,1+100 */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(201,210,215,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(201,210,215,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(201,210,215,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#c9d2d7',GradientType=1 ); /* IE6-9 */
}
}






  ion-header {
    left: 5rem;
    right: 0;
  }

  ion-content {
    box-sizing: border-box;
    margin-left: $tab-bar-width;
    width: (calc(100% - 69px));
  }


  .has-icon .tab-badge {
    right: calc(50% - #{$tab-bar-width});
  }

  .tab-badge {
    top: 33%;
  }

.fixed-content { left: 0; right: 0; top: 0; bottom: 0; margin-bottom: 0 !important; position: absolute; display: block; }
.scroll-content { left: 0; right: 0; top: 0; bottom: 0; margin-bottom: 0 !important; position: absolute; z-index: 1; display: block; overflow-x: hidden; overflow-y: scroll; -webkit-overflow-scrolling: touch; will-change: scroll-position; contain: size style layout; }


ion-card.card{
  padding: 24px 24px 0px;
  border-radius: 8px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, .12);

  ion-item.item{
    padding: 0px;
  }

  ion-item.ion-card-footer{
    button{

    }
  }

  ion-card-header.card-header{
    padding: 0px;
    h3{
      font-size: $font-big;
      font-weight: bold;
    }
  }
}

ion-searchbar.searchbar{
  background: transparent;
  padding: 0px;
  margin: 12px;
  @include shadow;

}


/************
/*
/* Button */

.button{
  font-size: $font-regular;
  border-radius: 2px;
  font-weight: bold;
  padding: 5px 50px;
  background: linear-gradient(to right, $primary , $secondary);

  &.button-clear{
    background: transparent;
    padding: 5px;
    color: $primary;
    &[disabled]{
      color:  $black60;
    }
  }
}


///////////////// Breadcrumbs
////
////
///

breadcrumb {

.button{
  font-size: $font-big;
  background: transparent;
  color: $black60;
  border-bottom: 3px solid;
  border-color: $black60;
  border-radius: 0px;
  margin: 1px 0px;
  padding: 0px 20px;

  &.current{
    -webkit-border-image: -webkit-gradient(linear, left top, right top, from($primary), to($secondary), color-stop(0.6, $secondary)) 21 30 30 21 ;
    border-color: $primary;
    color: $black20;
    opacity: 1;
    font-weight: bold;
  }
}
}

/* Helper */
.padding-bottom{
  padding-bottom: 14px;
}
