<!--
  Generated template for the BDosierungPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
<breadcrumb></breadcrumb>
  <ion-card>
    <ion-card-header class="mycardheader"  (click)="dosisCard()">
      <ion-row>
        <ion-col>
          <h3>1. Dosierung eintragen</h3>
        </ion-col>
        <ion-col col-1 class="toggle-icon">
          <i *ngIf="!dosis_card" class="fal fa-angle-down toggle-icon"></i>
          <i *ngIf="dosis_card" class="fal fa-angle-up toggle-icon"></i>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-row *ngIf="dosis_card">

        <ion-col class="card-dosis" >
          <div class="header">
            <img src="assets/icon/time/sunrise.png"/>
          </div>
          <div class="content">
              <button *ngIf="dosis_card"  ion-button (click)="dosierungAdd('Mo')" class="noGradient"><i class="fal fa-angle-up"></i></button>
              <h2 class="dosierung_nummer">{{dosierung_Mo}}</h2>
              <button *ngIf="dosis_card" ion-button [disabled]="dosierung_Mo === 0" (click)="dosierungSub('Mo')" class="noGradient"><i class="fal fa-angle-down"></i></button>
          </div>
        </ion-col>

        <ion-col class="card-dosis">
          <div class="header">
            <img src="assets/icon/time/day.png"/>
          </div>
          <div class="content">
                <button *ngIf="dosis_card" ion-button (click)="dosierungAdd('Mi')" class="noGradient"><i class="fal fa-angle-up"></i></button>
                <h2 class="dosierung_nummer">{{dosierung_Mi}}</h2>
                <button *ngIf="dosis_card" ion-button [disabled]="dosierung_Mi === 0" (click)="dosierungSub('Mi')" class="noGradient"><i class="fal fa-angle-down"></i></button>
          </div>
        </ion-col>

        <ion-col class="card-dosis">
          <div class="header">
            <img src="assets/icon/time/dawn.png"/>
          </div>
          <div class="content">
                <button *ngIf="dosis_card" ion-button (click)="dosierungAdd('Ab')" class="noGradient"><i class="fal fa-angle-up"></i></button>
                <h2 class="dosierung_nummer">{{dosierung_Ab}}</h2>
                <button *ngIf="dosis_card" ion-button [disabled]="dosierung_Ab === 0" (click)="dosierungSub('Ab')" class="noGradient"><i class="fal fa-angle-down"></i></button>
          </div>
        </ion-col>

        <ion-col class="card-dosis">
          <div class="header">
            <img src="assets/icon/time/night.png"/>
          </div>
          <div class="content">
                <button *ngIf="dosis_card" ion-button (click)="dosierungAdd('Na')" class="noGradient"><i class="fal fa-angle-up"></i></button>
                <h2 class="dosierung_nummer">{{dosierung_Na}}</h2>
                <button *ngIf="dosis_card" ion-button [disabled]="dosierung_Na === 0" (click)="dosierungSub('Na')" class="noGradient"><i class="fal fa-angle-down"></i></button>
          </div>
        </ion-col>


    </ion-row>
    <ion-row *ngIf="dosis_card">
      <ion-col text-right>
        <button class="action-button" clear type="submit" ion-button (click)="dosisCard()">Weiter</button>
      </ion-col>
    </ion-row>

  </ion-card>


  <ion-card>
    <ion-card-header (click)="timeCard()">
      <ion-row>
        <ion-col>
          <h3>2. Dauer der Medikation</h3>
        </ion-col>
        <ion-col col-1 class="toggle-icon">
          <i *ngIf="!time_card" class="fal fa-angle-down toggle-icon"></i>
          <i *ngIf="time_card" class="fal fa-angle-up toggle-icon"></i>
        </ion-col>
      </ion-row>



    </ion-card-header>
    <ion-row *ngIf="time_card">
      <ion-col col-3 class="timecard">
        <div class="header">
          Länge
        </div>
        <div class="content">
          <button class="noGradient" ion-button (click)="dosierungAdd('laenge')"><i class="fal fa-angle-up"></i></button>
          <h2 class="marginfix">{{dosierung_laenge}}</h2>
          <button class="noGradient" ion-button [disabled]="dosierung_laenge === 1" (click)="dosierungSub('laenge')"><i class="fal fa-angle-down"></i></button>
        </div>
      </ion-col>

      <ion-col col-3 class = "timecard">
        <div class="header">
          Zeiteinheit
        </div>
        <div class="content">
          <button class="noGradient" ion-button [disabled]="dosierung_einheit === 3"  (click)="dosierungAdd('einheit')"><i class="fal fa-angle-up"></i></button>
          <span *ngIf="dosierung_einheit === 1">
            <span *ngIf="dosierung_laenge > 1">
              <h2 class="marginfix">Tage</h2>
            </span>
            <span *ngIf="dosierung_laenge <= 1">
              <h2 class="marginfix">Tag</h2>
            </span>
          </span>
          <span *ngIf="dosierung_einheit === 2">
            <span *ngIf="dosierung_laenge > 1">
              <h2 class="marginfix">Wochen</h2>
            </span>
            <span *ngIf="dosierung_laenge <= 1">
              <h2 class="marginfix">Woche</h2>
            </span>
          </span>
          <span *ngIf="dosierung_einheit === 3">
            <span *ngIf="dosierung_laenge > 1">
              <h2 class="marginfix">Monate</h2>
            </span>
            <span *ngIf="dosierung_laenge <= 1">
              <h2 class="marginfix">Monat</h2>
            </span>
          </span>
          <button class="noGradient" ion-button [disabled]="dosierung_einheit === 1" (click)="dosierungSub('einheit')"><i class="fal fa-angle-down"></i></button>
        </div>
      </ion-col>

      <ion-col  col-4 offset-md-1 class="calendar">
        <ion-calendar [(ngModel)]="dateRange"
                      [type]="time"
                      [options]="optionsRange"
                      [format]="'DD-MM-YYYY'"
                      [readonly]=true>
        </ion-calendar>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="time_card">
      <ion-col text-right>
        <button class="action-button" clear type="submit" ion-button (click)="nextStep()">Weiter</button>
      </ion-col>
    </ion-row>



  </ion-card>



</ion-content>
