<ion-content padding>
  <breadcrumb></breadcrumb>
  <ion-searchbar [(ngModel)]="searchInput" [autocomplete]="true" [debounce]="200" [showCancelButton]="shouldShowCancel"  (ionInput)="searchEvent(searchInput)">
  </ion-searchbar>

  <ion-card *ngFor="let drug of drugsVar">
    <ion-card-header>
      Name: {{drug.key}}<br />
      PZN: {{drug.PNZ}}
    </ion-card-header>
    <ion-card-content>
      <!-- Hersteller: {{drug.Hersteller}}<br />
      Preis: {{drug.Preis}}<br />
      Wirkstoff: {{drug.Wirkstoff.Name}} -->
      <button ion-button  (click)="nextStep(drug.key)">Auswählen</button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="drugsVar?.length < 1">
    <ion-card-header>
      Leider wurden keine passenden Medikamente gefunden.
    </ion-card-header>
  </ion-card>
  
</ion-content>
